.main{
    padding: 0px 0px;
}

.main input,
.main input::-webkit-input-placeholder {
   font-size: 14px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main-center{
    margin: 0 auto;
    min-width: 400px;
   padding: 10px 40px;
   background:#797675;
       color: #FFF;
   text-shadow: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
span.input-group-addon i {
   color: #3b5998;
   font-size: 17px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main select,
.main select::-webkit-input-placeholder {
   font-size: 14px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span.select-group-addon i {
   color: #3b5998;
   font-size: 17px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip h3 {margin:12px 0;}

.tooltip .right {
    min-width:200px;
    max-width:450px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:0;
    color:#EEEEEE;
    background-color:#444444;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .right {
    visibility:visible; opacity:1;
}

.tooltip .right img {
    width:400px;
    border-radius:8px 8px 0 0;
}
.tooltip .text-content {
    padding:10px 20px;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}
.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#444444;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.heading{
    font-size: 22px !important;}
.form-alert{
    margin-top: 1rem;
}

.alert-font{
    font-size: 14px !important;
    align-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
    min-width: 37px!important;
}
input.ng-invalid, select.ng-invalid{
    border-left: 3px solid #8B0000 !important;
}
input.ng-valid, select.ng-valid{
    border-left: 3px solid #32CD32 !important;
}
.button-cancel{
    margin-left: auto !important;
    margin-right: auto !important;
}
.button-add{
    margin-left: auto !important;
    margin-right: auto !important;
}
button:focus{
    border-color: white !important;
}
.fa-user:before {
    content: "" important;
}