table {
    width: 100%;
    align-content: center;
    padding-left: 150px;
    }

.toggle {
    float: right;
    padding-right: 200px;
}

.list1{
padding-left: 160px;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}
.corpactiontab{
    padding-right: 150px;
}
