<mat-toolbar [class.mat-elevation-z6]=true color="primary">
    
    <span>Citi</span>
    <!-- <span class="example-spacer"></span> -->
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
  </mat-toolbar>
  <br>
 
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Trades"> Content 1 </mat-tab>
    <mat-tab label="Corporate Actions"> Content 2 </mat-tab>
    <mat-tab label="Obligation Report"> Content 3 </mat-tab>
    <mat-tab label="Cost of Settlement"> Content 3 </mat-tab>
</mat-tab-group>

