<mat-toolbar [class.mat-elevation-z6]=true color="primary">
    
    <span>Clearing House</span>
    <!-- <span class="example-spacer"></span> -->
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
</mat-toolbar>



<mat-tab-group mat-align-tabs="center">

    <mat-tab label="Trades"> 
        <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="BuyerCM">
              <th mat-header-cell *matHeaderCellDef> Buyer CM </th>
              <td mat-cell *matCellDef="let element"> {{element.BuyerCM}} </td>
            </ng-container>
          
         
            <ng-container matColumnDef="SellerCM">
              <th mat-header-cell *matHeaderCellDef> Seller CM </th>
              <td mat-cell *matCellDef="let element"> {{element.SellerCM}} </td>
            </ng-container>
          
      
            <ng-container matColumnDef="ES">
              <th mat-header-cell *matHeaderCellDef> ES </th>
              <td mat-cell *matCellDef="let element"> {{element.ES}} </td>
            </ng-container>
          
          
            <ng-container matColumnDef="Qty">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
            </ng-container>
      
            <ng-container matColumnDef="Price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
            </ng-container>
      
            <ng-container matColumnDef="TradeValue">
              <th mat-header-cell *matHeaderCellDef> Trade Value </th>
              <td mat-cell *matCellDef="let element"> {{element.TradeValue}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>  -->

          <br>
          
         <br>
          <!-- <div *ngFor="let car of sampleData">
            {{car.qty}} {{car.es}} {{car.buyerCM}}
          </div> -->

          <table mat-table [dataSource]="TradesDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="BuyerCM">
              <th mat-header-cell *matHeaderCellDef> Buyer CM </th>
              <td mat-cell *matCellDef="let element"> {{element.buyerCM}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="SellerCM">
              <th mat-header-cell *matHeaderCellDef> Seller CM </th>
              <td mat-cell *matCellDef="let element"> {{element.sellerCM}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="ES">
              <th mat-header-cell *matHeaderCellDef> ES </th>
              <td mat-cell *matCellDef="let element"> {{element.es}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="Qty">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
            </ng-container>
      
            <ng-container matColumnDef="Price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
      
            <ng-container matColumnDef="TradeValue">
              <th mat-header-cell *matHeaderCellDef> Trade Value </th>
              <td mat-cell *matCellDef="let element"> {{element.transactionAmt}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
    </mat-tab>

    <mat-tab label="Corporate Actions"> 

      <mat-accordion>
       <table class="corpactiontab">
        <mat-expansion-panel *ngFor="let CMElement of dataSourceCorpActions" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="panelTitle">
              <tr>
                 <td>{{CMElement.Securities}}&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</td>
                 <td>{{CMElement.Action}}&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</td>
                 <td> {{CMElement.Ratio}}</td>
              </tr>
            </mat-panel-title>
            <mat-panel-description>
              Click to toggle report view
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="CMElement.CM_List" class="mat-elevation-z8">
            <ng-container matColumnDef="CM">
              <th mat-header-cell *matHeaderCellDef> Security </th>
              <td mat-cell *matCellDef="let element"> {{element.CM}} </td>
            </ng-container>
            <ng-container matColumnDef="Initial_shares">
              <th mat-header-cell *matHeaderCellDef> Initial shares </th>
              <td mat-cell *matCellDef="let element"> {{element.Initial_shares}} </td>
            </ng-container>
            <ng-container matColumnDef="Current_shares">
              <th mat-header-cell *matHeaderCellDef> Current shares </th>
              <td mat-cell *matCellDef="let element"> {{element.Current_shares}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsCorpActions"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCorpActions;"></tr>
          </table>
        </mat-expansion-panel>
      </table>
      </mat-accordion>
     
    </mat-tab>


    <mat-tab label="Obligation Report"> 
    <!-- Expansion Panel for Obligation Report -->
      <mat-accordion>
        <mat-expansion-panel *ngFor="let CMElement of obligationPanelData" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{CMElement.CM}}
            </mat-panel-title>
            <mat-panel-description>
              <!-- {{panelOpenState ? 'Hide' : 'Show'}} Report -->
              Click to toggle report view
            </mat-panel-description>
          </mat-expansion-panel-header>

          <h2> Funds Obligation Report </h2>
          <table mat-table [dataSource]="CMElement.Funds" class="mat-elevation-z8">
            <ng-container *ngFor="let FundsElement of obPanelFundsColumns"  matColumnDef={{FundsElement}}>
              <th mat-header-cell *matHeaderCellDef> {{FundsElement}} </th>
              <!-- <td mat-cell *matCellDef="let element"> {{element.Security}} </td> -->
              <td mat-cell *matCellDef ="let element"> {{element[FundsElement]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="obPanelFundsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: obPanelFundsColumns;"></tr>
          </table>

          <br><br><br>
          <h2> Shares Obligation Report </h2>

          <table mat-table [dataSource]="CMElement.Shares" class="mat-elevation-z8">
            <ng-container *ngFor="let SharesElement of obPanelSharesColumns" matColumnDef={{SharesElement}}>
              <th mat-header-cell *matHeaderCellDef> {{SharesElement}} </th>
              <!-- <td mat-cell *matCellDef="let element"> {{element.Security}} </td> -->
              <td mat-cell *matCellDef="let element"> {{element[SharesElement]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="obPanelSharesColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: obPanelSharesColumns;"></tr>
          </table>

        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab> 
    <!-- Ob Report tab end -->

    <mat-tab label="Obligation Matrix">
      <!-- Expansion Panel for Obligation Matrix -->
      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Obligation Matrix for Funds
            </mat-panel-title>
            <mat-panel-description>
              <!-- {{panelOpenState ? 'Hide' : 'Show'}} Report -->
              Click to toggle view
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="obligationMatrixFundsData" class="mat-elevation-z8">
            <ng-container *ngFor="let temp of obligationMatrixFundsColumns" matColumnDef={{temp}}>
              <th mat-header-cell *matHeaderCellDef> {{temp}} </th>
              <td mat-cell *matCellDef="let element"> {{element[temp]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="obligationMatrixFundsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: obligationMatrixFundsColumns;"></tr>
          </table>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Obligation Matrix for ES
            </mat-panel-title>
            <mat-panel-description>
              <!-- {{panelOpenState ? 'Hide' : 'Show'}} Report -->
              Click to toggle view
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="obligationMatrixEsData" class="mat-elevation-z8">
            <ng-container *ngFor="let temp of obligationMatrixEsColumns" matColumnDef={{temp}}>
              <th mat-header-cell *matHeaderCellDef> {{temp}} </th>
              <td mat-cell *matCellDef="let element"> {{element[temp]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="obligationMatrixEsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: obligationMatrixEsColumns;"></tr>
          </table>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-tab>
    <!-- Ob Matrix tab end -->



    <mat-tab label="Cost of Settlement"> 
      <!-- Expansion Panel for Cost Of settlement -->
        <mat-accordion>
          <mat-expansion-panel *ngFor="let CM_Element of costOfSettlementPanelDataConst" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{CM_Element.CM}}
              </mat-panel-title>
              <mat-panel-description>
                <!-- {{panelOpenState ? 'Hide' : 'Show'}} Report -->
                Click to view Cost Report
              </mat-panel-description>
            </mat-expansion-panel-header>

            <table mat-table [dataSource]="CM_Element.Report" class="mat-elevation-z8">
              <ng-container matColumnDef="Securities">
                <th mat-header-cell *matHeaderCellDef> Securities </th>
                <td mat-cell *matCellDef="let element"> {{element.Securities}} </td>
                <td mat-footer-cell *matFooterCellDef>Total</td>
              </ng-container>
              <ng-container matColumnDef="Shares">
                <th mat-header-cell *matHeaderCellDef> Shares </th>
                <td mat-cell *matCellDef="let element"> {{element.Shares}} </td>
                <td mat-footer-cell *matFooterCellDef>  </td>
              </ng-container>
              <ng-container matColumnDef="Rate">
                <th mat-header-cell *matHeaderCellDef> Rate </th>
                <td mat-cell *matCellDef="let element"> {{element.Rate}} </td>
                <td mat-footer-cell *matFooterCellDef>  </td>
              </ng-container>
              <ng-container matColumnDef="Cost">
                <th mat-header-cell *matHeaderCellDef> Cost </th>
                <td mat-cell *matCellDef="let element"> {{element.Cost}} </td>
               
              </ng-container>    
              <tr mat-header-row *matHeaderRowDef="cosPanelColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: cosPanelColumns;"></tr>
             
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab> 



</mat-tab-group>