<mat-toolbar [class.mat-elevation-z6]=true color="primary">
    
    <span>Citi</span>
    <!-- <span class="example-spacer"></span> -->
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
  </mat-toolbar>
  <br>

 <style>
   table {
  width: 100%;
  align-content: center;
  padding-left: 150px;
}

.toggle {
   float: right;
   padding-right: 200px;
}
.list1{
  padding-left: 160px;
}
 </style>

<mat-tab-group mat-align-tabs="center">

  <mat-tab label="Profile" >
    <mat-list class="list1" role="list" >
      <br>
      <br>
      <mat-list-item role="listitem"><h2>Opening Fund Balance :  $45678</h2></mat-list-item>
     </mat-list>
    <br>
    <mat-list class="list1" role="list" >
      <mat-list-item role="listitem"><h2>Shares:</h2></mat-list-item>
    </mat-list>
    <table mat-table [dataSource]="dataSourceProfile" class="mat-elevation-z8">
        <ng-container matColumnDef="Securities">
          <th mat-header-cell *matHeaderCellDef> Securities </th>
          <td mat-cell *matCellDef="let element"> {{element.Securities}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Shares">
          <th mat-header-cell *matHeaderCellDef> Shares </th>
          <td mat-cell *matCellDef="let element"> {{element.Shares}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsProfile"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsProfile;"></tr>
    </table>
  </mat-tab>
    
  <mat-tab label="Trades" >  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="BuyerCM">
        <th mat-header-cell *matHeaderCellDef> Buyer CM </th>
        <td mat-cell *matCellDef="let element"> {{element.BuyerCM}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="SellerCM">
        <th mat-header-cell *matHeaderCellDef> Seller CM </th>
        <td mat-cell *matCellDef="let element"> {{element.SellerCM}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="ES">
        <th mat-header-cell *matHeaderCellDef> ES </th>
        <td mat-cell *matCellDef="let element"> {{element.ES}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Qty">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
      </ng-container>

      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
      </ng-container>

      <ng-container matColumnDef="TradeValue">
        <th mat-header-cell *matHeaderCellDef> Trade Value </th>
        <td mat-cell *matCellDef="let element"> {{element.TradeValue}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </mat-tab>


    <mat-tab label="Corporate Actions"> 

      <table mat-table [dataSource]="dataSourceCorpActions" class="mat-elevation-z8">
        <ng-container matColumnDef="Securities">
          <th mat-header-cell *matHeaderCellDef> Securities</th>
          <td mat-cell *matCellDef="let element"> {{element.Securities}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element"> {{element.Action}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Initial fund balance">
          <th mat-header-cell *matHeaderCellDef> Initial Fund balance </th>
          <td mat-cell *matCellDef="let element"> {{element.Initial_fund_bal}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Initial share balance">
          <th mat-header-cell *matHeaderCellDef> Initial share balance </th>
          <td mat-cell *matCellDef="let element"> {{element.Initial_share_bal}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Current fund balance">
          <th mat-header-cell *matHeaderCellDef> Current fund balance </th>
          <td mat-cell *matCellDef="let element"> {{element.Current_fund_bal}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Current share balance">
          <th mat-header-cell *matHeaderCellDef> Current share balance </th>
          <td mat-cell *matCellDef="let element"> {{element.Current_share_bal}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsCorpActions"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumnsCorpActions;"></tr>
      </table>

    </mat-tab>


    <mat-tab label="Obligation Report"> 
      <ng-template matTabLabel>
        <span matBadge={{obCnt}} matBadgeOverlap="false" [matBadgeHidden]="hiddenValue">Obligation Report</span>
    </ng-template>
      <mat-list class="list1" role="list" >
        <mat-list-item role="listitem"><h2>Funds </h2></mat-list-item>
        <mat-list-item role="listitem"><h3>You have to send/receive $45678</h3></mat-list-item>
       </mat-list>
      <br>
      <mat-list class="list1" role="list" >
        <mat-list-item role="listitem"><h2>Shares</h2></mat-list-item>
      </mat-list>
      <mat-slide-toggle class="toggle">Only Shortages</mat-slide-toggle>
      <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
          <ng-container matColumnDef="Securities">
            <th mat-header-cell *matHeaderCellDef> Securities </th>
            <td mat-cell *matCellDef="let element"> {{element.Securities}} </td>
          </ng-container>
                    <!-- Name Column -->
          <ng-container matColumnDef="Initial_Quantity">
             <th mat-header-cell *matHeaderCellDef> Opening Quantity </th>
             <td mat-cell *matCellDef="let element"> {{element.Initial_Quantity}} </td>
          </ng-container>
          <ng-container matColumnDef="Initial_Amt">
            <th mat-header-cell *matHeaderCellDef> Opening Amt </th>
            <td mat-cell *matCellDef="let element"> {{element.Initial_Amt}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Buy_Sell_Quantity">
            <th mat-header-cell *matHeaderCellDef> Buy_Sell_Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.Buy_Sell_Quantity}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Buy_Sell_Amt">
            <th mat-header-cell *matHeaderCellDef> Buy_Sell_Amt</th>
            <td mat-cell *matCellDef="let element"> {{element.Buy_Sell_Amt}} </td>
          </ng-container>
          <ng-container matColumnDef="net_Quantity">
            <th mat-header-cell *matHeaderCellDef> Net Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.net_Quantity}} </td>
          </ng-container>        
          <ng-container matColumnDef="net_Amt">
            <th mat-header-cell *matHeaderCellDef> Net Amt </th>
            <td mat-cell *matCellDef="let element"> {{element.net_Amt}} </td>
          </ng-container>
          <ng-container matColumnDef="borrow_rate_per_share">
            <th mat-header-cell *matHeaderCellDef> Borrow Rate </th>
            <td mat-cell *matCellDef="let element"> {{element.borrow_rate_per_share}} </td>
          </ng-container>

        

          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
      <br><br>
      <h3 align="center">Net Amount you have to Pay: ____________</h3>
      <h5 >*Borrow rate is on per day basis</h5>
    </mat-tab>
 
    
    <mat-tab label="Cost of Settlement"> 
      <mat-list class="list1" role="list">
        <br>
        <br>
        <mat-list-item role="listitem">
          <h2>Total Cost : $45678</h2>
        </mat-list-item>
      </mat-list>
      <br>

      <table>
        <tr>
          <td><h3>Funds: 12345</h3></td>
          <td><h3>Rate: 1.23</h3></td>
          <td><h3>Cost: 1234</h3></td>
        </tr>
      </table>
      <br>

      <mat-list class="list1" role="list">
        <mat-list-item role="listitem">
          <h2>Shares:</h2>
        </mat-list-item>
      </mat-list>

      <table mat-table [dataSource]="dataSettlement" class="mat-elevation-z8">
        <ng-container matColumnDef="Securities">
          <th mat-header-cell *matHeaderCellDef> Securities </th>
          <td mat-cell *matCellDef="let element"> {{element.Securities}} </td>
        </ng-container>
        <ng-container matColumnDef="Shares">
          <th mat-header-cell *matHeaderCellDef> Shares </th>
          <td mat-cell *matCellDef="let element"> {{element.Shares}} </td>
        </ng-container>
        <ng-container matColumnDef="Rate">
          <th mat-header-cell *matHeaderCellDef> Rate </th>
          <td mat-cell *matCellDef="let element"> {{element.Rate}} </td>
        </ng-container>
        <ng-container matColumnDef="Cost">
          <th mat-header-cell *matHeaderCellDef> Cost </th>
          <td mat-cell *matCellDef="let element"> {{element.Cost}} </td>
        </ng-container>    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsSettlement"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSettlement;"></tr>
      </table>
    </mat-tab>
    
</mat-tab-group>

 
  
  