table {
  width: 100%;
}
tr.mat-footer-row {
  font-weight: bold;
}

#contenttab{
  padding-left: 100px;
  padding-right: 100px;
}

.logOutButton {
  width: 50%;
  background-color: #FF6347;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.flexExpand {
  flex: 1 1 auto;
}
